.App {
    text-align: center;
}

.ContactForm {
    background-image: url('../public/contact.jpg');
}

.removea{
    text-decoration: none;
}

.textincenter {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

/* .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
} */